













































!**/packages/build/
!*.[Cc]ache/
# (https://github.com/github/gitignore/pull/1529#issuecomment-104372622)
# Backup & report files from converting an old project file
# because we have git ;-)
# Build results
# Build Results of an ATL Project
# Business Intelligence projects
# but database connection strings (with potential passwords) will be unencrypted
# but keep track of directories ending in .cache
# checkin your Azure Web App publish settings, but sensitive information contained
# Chutzpah Test files
# Click-Once directory
# DNX
# DocProject is a documentation generator add-in
# DotCover is a Code Coverage Tool
# except build/, which is used as an MSBuild target.
# FAKE - F# Make
# files ending in .cache can be ignored
# GhostDoc plugin setting file
# Guidance Automation Toolkit
# in these scripts will be unencrypted
# Installshield output folder
# JetBrains Rider
# JustCode is a .NET coding add-in
# Microsoft Azure Build Output
# Microsoft Azure Emulator
# Microsoft Azure Web App publish settings. Comment the next line if you want to
# Microsoft Fakes
# MightyMoose
# MSTest test Results
# NCrunch
# Node.js Tools for Visual Studio
# NuGet Packages
# NuGet v3's project.json files produces more ignoreable files
# NUNIT
# Others
# Paket dependency manager
# Publish Web Output
# ReSharper is a .NET coding add-in
# RIA/Silverlight projects
# Since there are multiple workflows, uncomment next line to ignore bower_components
# SQL Server files
# TeamCity is a build add-in
# TFS 2012 Local Workspace
# The packages folder can be ignored because of Package Restore
# to a newer Visual Studio version. Backup files are not needed,
# TODO: Comment the next line if you want to checkin your web deploy settings
# Uncomment if necessary however generally it will be regenerated when needed
# Uncomment if you have tasks that create the project's static files in wwwroot
# User-specific files
# User-specific files (MonoDevelop/Xamarin Studio)
# Visual C++ cache files
# Visual Studio 2015 cache/options directory
# Visual Studio 6 build log
# Visual Studio 6 workspace options file
# Visual Studio cache files
# Visual Studio LightSwitch build output
# Visual Studio profiler
# Web workbench (sass)
# Windows Store app package directories and files
#!**/packages/repositories.config
## files generated by popular Visual Studio add-ons.
## Ignore Visual Studio temporary files, build results, and
#bower_components/
#wwwroot/
$tf/
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.HTMLClient/GeneratedArtifacts
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
**/packages/*
*.[Cc]ache
*.[Pp]ublish.xml
*.[Rr]e[Ss]harper
*.aps
*.azurePubxml
*.bim.layout
*.bim_*.settings
*.build.csdef
*.cachefile
*.dbmdl
*.dbproj.schemaview
*.dotCover
*.DotSettings.user
*.GhostDoc.xml
*.gpState
*.ilk
*.ldf
*.log
*.mdf
*.meta
*.mm.*
*.ncb
*.nuget.props
*.nuget.targets
*.nupkg
*.obj
*.opendb
*.opensdf
*.opt
*.pch
*.pdb
*.pfx
*.pgc
*.pgd
*.pidb
*.plg
*.psess
*.publishproj
*.publishsettings
*.pubxml
*.rdl.data
*.rsp
*.sap
*.sbr
*.scc
*.sdf
*.sln.docstates
*.sln.iml
*.suo
*.svclog
*.tlb
*.tlh
*.tli
*.tmp
*.tmp_proj
*.user
*.userosscache
*.userprefs
*.VC.db
*.VC.VC.opendb
*.VisualState.xml
*.vsp
*.vspscc
*.vspx
*.vssscc
*_i.c
*_i.h
*_p.c
*~
.*crunch*.local.xml
.builds
.fake/
.idea/
.JustCode
.ntvs_analysis.dat
.paket/paket.exe
.sass-cache/
.vs/
[Bb]in/
[Bb]uild/
[Bb]uild[Ll]og.*
[Dd]ebug/
[Dd]ebugPS/
[Dd]ebugPublic/
[Ee]xpress/
[Ll]ibrary/
[Ll]og/
[Ll]ogs/
[Oo]bj/
[Rr]elease/
[Rr]eleasePS/
[Rr]eleases/
[Tt]est[Rr]esult*/
_Chutzpah*
_NCrunch_*
_pkginfo.txt
_Pvt_Extensions
_ReSharper*/
_TeamCity*
_UpgradeReport_Files/
AppPackages/
artifacts/
AutoTest.Net/
Backup*/
bld/
BundleArtifacts/
ClientBin/
csx/
dlldata.c
DocProject/buildhelp/
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/*.HxC
DocProject/Help/*.HxT
DocProject/Help/html
DocProject/Help/Html2
ecf/
FakesAssemblies/
Generated_Code/
ipch/
nCrunchTemp_*
node_modules/
orleans.codegen.cs
Package.StoreAssociation.xml
paket-files/
project.lock.json
publish/
PublishScripts/
rcf/
TestResult.xml
UpgradeLog*.htm
UpgradeLog*.XML
x64/
x86/
~$*